<% include partials/_header %>

<main role="main" class="flex-shrink-0">
    <% include ./auth/layouts/flash %>
    <div class="container">
        <div class="row">
            <!--FORM-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Title">
                                <input type="text" hidden name="userId" value="<%= user._id %>">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="description" cols="80" placeholder="Add a Description"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Add
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- LIST -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < tasks.length; i++) { %>
                        <% if(tasks[i].userId == user._id) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><strong><%= tasks[i].title %></strong></td>
                                <td><%= tasks[i].description %></td>
                                <td>
                                    <a class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>" href="/turn/<%= tasks[i]._id %>">Done</a>
                                    <button class="btn btn-danger deleteButton" data-delete="/delete/<%= tasks[i]._id %>">Delete</button>
                                    <button class="btn btn-info editButton" data-task="<%= tasks[i]._id %>#<%= tasks[i].title %>#<%= tasks[i].description %>" data-action="/edit/">Edit</button>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>

            <% include partials/modal %>
        </div>
    </div>
</main>